* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.burger {
    width: 35px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    top: 7%;
    right: 3%;

}

header {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    background-size: cover;
}

.burger span {
    width: 100%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.683);
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.5s ease-in-out;

}

.burger span::before,
.burger span::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.891);
    transition: transform 0.5s ease-in-out;

}

.burger span::before {
    transform: translateY(-10px);


}

.burger span::after {
    transform: translateY(10px);
}

.burger.active span {
    background-color: transparent;
}

.burger.active span::before {
    transform: translateY(0px) rotateZ(45deg);


}

.burger.active span::after {
    transform: translateY(0px) rotateZ(-45deg);
}

.burger {
    display: none;
}



.nav-menu {

    padding: 3em;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.nav-menu a {
    color: rgba(255, 255, 255, 0.893);
}


.nav-menu .nav-link ul {
    display: flex;

}

.nav-menu .nav-link li {
    margin: 0 25px;
    font-size: x-large;

}

.nav-link {
    margin-left: -100%;
}



.titre {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    margin-top: 4em;
}

.container {
    width: 100%;
    height: 50vh;
    margin-top: 7em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        ". pt1 pt1 pt1 pt1 . pt2 pt2 pt2 pt2 ."
        ". pt1 pt1 pt1 pt1 . pt2 pt2 pt2 pt2 ."
        ". pt1 pt1 pt1 pt1 . pt2 pt2 pt2 pt2 ."
    ;
    /* border: solid; */

}

.photo-one{
    grid-area: pt1;
    background:url(../images/gateau-chocolat.webp) center/cover;
}

.photo-two{
    grid-area: pt2;
    background:url(../images/gateau-fraise.jpg) center/cover;
}










@media screen and (max-width:800px) {


    .nav-link {
        display: none;
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(242, 229, 242, 0.457);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease;


    }

    .nav-link.mobile-menu {
        margin-left: 0;
    }

    .nav-menu .nav-link ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    .nav-menu .burger {
        display: block;
    }

    .nav-menu .nav-link li {
        margin: 25px 0;
        font-size: 1.5em;

    }


}